.project-info {
    font-family: $heading-font-family;
    margin-bottom: 10px;
}

.image-link,
.image-link:hover,
.image-link:visited,
.image-link:active {
    background-image: none;
}

.profile-picture {
   float: left;
   padding-top: 5px;
   padding-right: 10px;
}